.view-blog {
  .views-field-title {
    font-size: 1.3em;
    @include breakpoint($med-small, true) {
    float: left;
    }
  }
  .views-field-field-blog-image {
    text-align: center;
  }
  .views-field-body {
    clear: both;
    overflow: hidden;
    padding: 10px;
  }
}

#block-views-blog-block-1 {
  clear:both;

  h1 {
    font-size: 1.3em;
    margin-bottom: 20px;

    @include breakpoint(650px, true) {
      font-size: 3em;
    }

    @include breakpoint(800px, true) {
      margin-top: 20px;
    }

  }
}
