/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_base/_00_resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* line 25, ../sass/_base/_00_resets.scss */
input {
  max-width: 100%; }

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/_base/_00_resets.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 33, ../sass/_base/_00_resets.scss */
body {
  line-height: 1; }

/* line 36, ../sass/_base/_00_resets.scss */
ol, ul {
  list-style: none; }

/* line 39, ../sass/_base/_00_resets.scss */
blockquote, q {
  quotes: none; }

/* line 42, ../sass/_base/_00_resets.scss */
em {
  font-style: italic; }

/* line 45, ../sass/_base/_00_resets.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 50, ../sass/_base/_00_resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
/* line 56, ../sass/_base/_00_resets.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 62, ../sass/_base/_00_resets.scss */
img, media {
  max-width: 100%;
  height: auto; }

/* line 1, ../sass/_base/_elements.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

/* line 8, ../sass/_base/_elements.scss */
h1 {
  clear: both; }

/* line 13, ../sass/_base/_elements.scss */
h2 a {
  display: block;
  font-size: 1.5em;
  margin: 5px; }

/* line 20, ../sass/_base/_elements.scss */
h2, .views-field-title {
  text-transform: uppercase; }
  /* line 22, ../sass/_base/_elements.scss */
  h2 a:link, h2 a:visited, h2 a:active, .views-field-title a:link, .views-field-title a:visited, .views-field-title a:active {
    color: #444; }
  /* line 25, ../sass/_base/_elements.scss */
  h2 a:hover, .views-field-title a:hover {
    color: #9E599E; }

/* line 29, ../sass/_base/_elements.scss */
h2.block__title {
  clear: both;
  font-size: 3em;
  text-transform: uppercase; }

/* line 35, ../sass/_base/_elements.scss */
a {
  text-decoration: none;
  cursor: pointer; }

/* unvisited link */
/* line 41, ../sass/_base/_elements.scss */
a:link {
  color: #9E599E; }

/* visited link */
/* line 46, ../sass/_base/_elements.scss */
a:visited {
  color: #9E599E; }

/* mouse over link */
/* line 51, ../sass/_base/_elements.scss */
a:hover {
  color: #678F00; }

/* selected link */
/* line 56, ../sass/_base/_elements.scss */
a:active {
  color: #9E599E; }

/* line 60, ../sass/_base/_elements.scss */
a.open, a.close {
  font-size: 1.6em;
  display: block;
  padding: 10px;
  margin: 20px 0;
  color: #9E599E; }

/* line 68, ../sass/_base/_elements.scss */
p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: black; }

/* line 73, ../sass/_base/_elements.scss */
.pager {
  padding: 10px;
  margin: 40px 0px; }

/* line 78, ../sass/_base/_elements.scss */
.content, .side {
  padding: 0 2px; }

/* line 82, ../sass/_base/_elements.scss */
.a2a_kit {
  margin: 5px;
  display: block; }

/* line 87, ../sass/_base/_elements.scss */
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 20px !important; }
  /* line 92, ../sass/_base/_elements.scss */
  ol li {
    padding: 10px; }

/* line 97, ../sass/_base/_elements.scss */
img, media {
  max-width: 100%; }

/* line 100, ../sass/_base/_elements.scss */
.user-login {
  clear: both; }

/* line 1, ../sass/_layout/_layout.scss */
.header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.13253%;
  float: left;
  margin-right: 1.20482%; }
  @media (min-width: 750px) {
    /* line 1, ../sass/_layout/_layout.scss */
    .header {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 1100px) {
    /* line 1, ../sass/_layout/_layout.scss */
    .header {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 32.53012%;
      float: left;
      margin-right: 1.20482%; } }

@media (min-width: 750px) {
  /* line 13, ../sass/_layout/_layout.scss */
  .navigation {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }
@media (min-width: 1100px) {
  /* line 13, ../sass/_layout/_layout.scss */
  .navigation {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.26506%;
    float: right;
    margin-right: 0; } }

/* line 22, ../sass/_layout/_layout.scss */
.menu-expander {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15.66265%;
  float: right;
  margin-right: 0; }

@media (min-width: 768px) {
  /* line 27, ../sass/_layout/_layout.scss */
  .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 74.6988%;
    float: left;
    margin-right: 1.20482%; }

  /* line 31, ../sass/_layout/_layout.scss */
  .side {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.09639%;
    float: right;
    margin-right: 0; } }
/* line 36, ../sass/_layout/_layout.scss */
#edit-field-category-value-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%; }

/* line 40, ../sass/_layout/_layout.scss */
#edit-field-food-type-value-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.39759%;
  float: right;
  margin-right: 0; }

@media (min-width: 630px) {
  /* line 45, ../sass/_layout/_layout.scss */
  .image {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: left;
    margin-right: 1.20482%; } }

@media (min-width: 630px) {
  /* line 50, ../sass/_layout/_layout.scss */
  .text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: right;
    margin-right: 0; } }

@media (min-width: 1300px) {
  /* line 57, ../sass/_layout/_layout.scss */
  #block-block-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: right;
    margin-right: 0; }

  /* line 61, ../sass/_layout/_layout.scss */
  #block-search-form {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: left;
    margin-right: 1.20482%; } }
@media (min-width: 1300px) and (min-width: 1300px) {
  /* line 68, ../sass/_layout/_layout.scss */
  .not-front.page-node #block-block-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: right;
    margin-right: 0; }
  /* line 72, ../sass/_layout/_layout.scss */
  .not-front.page-node #block-block-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: left;
    margin-right: 1.20482%; } }

/* line 2, ../sass/_modules/_ads.scss */
.view-ads a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media screen and (min-width: 320px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1em; } }
  @media screen and (min-width: 370px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.1em; } }
  @media screen and (min-width: 420px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.2em; } }
  @media screen and (min-width: 470px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.3em; } }
  @media screen and (min-width: 520px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.4em; } }
  @media screen and (min-width: 570px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.5em; } }
  @media screen and (min-width: 620px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.6em; } }
  @media screen and (min-width: 670px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.7em; } }
  @media screen and (min-width: 720px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.8em; } }
  @media screen and (min-width: 770px) {
    /* line 2, ../sass/_modules/_ads.scss */
    .view-ads a {
      font-size: 1.9em; } }
  /* line 8, ../sass/_modules/_ads.scss */
  .view-ads a:link {
    color: #9E599E; }
  /* line 11, ../sass/_modules/_ads.scss */
  .view-ads a:visited {
    color: #9E599E; }
  /* line 14, ../sass/_modules/_ads.scss */
  .view-ads a:hover {
    color: #98AE00; }
  /* line 18, ../sass/_modules/_ads.scss */
  .view-ads a div {
    padding: 10px; }
  /* line 21, ../sass/_modules/_ads.scss */
  .view-ads a img {
    padding: 5px; }

/* line 27, ../sass/_modules/_ads.scss */
.block--block-11,
#block-block-12,
#block-block-9 {
  clear: both; }

/* line 33, ../sass/_modules/_ads.scss */
.amzn-item.amzn-shop-now-parent-icon {
  display: none !important; }

/* line 2, ../sass/_modules/_blog.scss */
.view-blog .views-field-title {
  font-size: 1.3em; }
  @media (min-width: 630px) {
    /* line 2, ../sass/_modules/_blog.scss */
    .view-blog .views-field-title {
      float: left; } }
/* line 8, ../sass/_modules/_blog.scss */
.view-blog .views-field-field-blog-image {
  text-align: center; }
/* line 11, ../sass/_modules/_blog.scss */
.view-blog .views-field-body {
  clear: both;
  overflow: hidden;
  padding: 10px; }

/* line 18, ../sass/_modules/_blog.scss */
#block-views-blog-block-1 {
  clear: both; }

/* line 2, ../sass/_modules/_filters.scss */
label[for=edit-field-category-value] {
  background: #ffffff;
  border: 1px solid;
  color: #678F00;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase; }

/* line 13, ../sass/_modules/_filters.scss */
label[for=edit-field-category-value]:hover {
  background: #678F00;
  color: #ffffff; }

/* line 17, ../sass/_modules/_filters.scss */
label[for=edit-field-food-type-value] {
  background: #ffffff;
  border: 1px solid;
  color: #9E599E;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase; }

/* line 28, ../sass/_modules/_filters.scss */
label[for=edit-field-food-type-value]:hover {
  background: #9E599E;
  color: #ffffff; }

/* line 33, ../sass/_modules/_filters.scss */
.form-item-field-food-type-value {
  display: none; }

/* line 36, ../sass/_modules/_filters.scss */
.form-item-field-category-value {
  display: none; }

/* line 40, ../sass/_modules/_filters.scss */
.form-item-field-category-value.open {
  display: block; }
  /* line 43, ../sass/_modules/_filters.scss */
  .form-item-field-category-value.open label.option {
    cursor: pointer;
    display: block;
    float: right;
    font-weight: normal;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 25px; }
  /* line 54, ../sass/_modules/_filters.scss */
  .form-item-field-category-value.open .form-type-bef-checkbox {
    display: block;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #678F00; }
    /* line 60, ../sass/_modules/_filters.scss */
    .form-item-field-category-value.open .form-type-bef-checkbox:hover {
      color: #678F00;
      background: #ffffff; }

/* line 67, ../sass/_modules/_filters.scss */
.form-item-field-food-type-value.open {
  display: block; }
  /* line 70, ../sass/_modules/_filters.scss */
  .form-item-field-food-type-value.open label.option {
    cursor: pointer;
    display: block;
    float: right;
    font-weight: normal;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 25px; }
  /* line 81, ../sass/_modules/_filters.scss */
  .form-item-field-food-type-value.open .form-type-bef-checkbox {
    display: block;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #9E599E; }
    /* line 87, ../sass/_modules/_filters.scss */
    .form-item-field-food-type-value.open .form-type-bef-checkbox:hover {
      color: #9E599E;
      background: #ffffff; }

/* line 93, ../sass/_modules/_filters.scss */
.views-exposed-form {
  clear: both; }

/* line 96, ../sass/_modules/_filters.scss */
.views-exposed-form .views-exposed-widget {
  padding: 0;
  /* LTR */ }

/* line 100, ../sass/_modules/_filters.scss */
.views-widget {
  position: absolute;
  width: inherit; }
  @media (min-width: 768px) {
    /* line 100, ../sass/_modules/_filters.scss */
    .views-widget {
      width: 40%; } }

/* line 109, ../sass/_modules/_filters.scss */
.view-filters input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: inherit;
  color: inherit;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: none;
  display: inline-block;
  position: relative;
  float: left;
  margin: 10px; }
  /* line 122, ../sass/_modules/_filters.scss */
  .view-filters input[type="checkbox"]:active, .view-filters input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: inherit; }
  /* line 127, ../sass/_modules/_filters.scss */
  .view-filters input[type="checkbox"]:checked {
    background-color: inherit;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: inherit; }
  /* line 133, ../sass/_modules/_filters.scss */
  .view-filters input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: inherit; }

/* line 144, ../sass/_modules/_filters.scss */
.bef-checkboxes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 1, ../sass/_modules/_footer.scss */
.footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 300px; }

/* line 1, ../sass/_modules/_header.scss */
.header {
  color: #9E599E;
  font-family: 'Anton', sans-serif;
  font-weight: 400; }
  @media (min-width: 750px) {
    /* line 1, ../sass/_modules/_header.scss */
    .header {
      text-align: center; } }
  @media (min-width: 1100px) {
    /* line 1, ../sass/_modules/_header.scss */
    .header {
      text-align: left; } }
  /* line 14, ../sass/_modules/_header.scss */
  .header a {
    font-size: 2.4em; }
    @media (min-width: 450px) {
      /* line 14, ../sass/_modules/_header.scss */
      .header a {
        font-size: 3.2em; } }
    @media (min-width: 600px) {
      /* line 14, ../sass/_modules/_header.scss */
      .header a {
        font-size: 3.8em; } }
    @media (min-width: 700px) {
      /* line 14, ../sass/_modules/_header.scss */
      .header a {
        font-size: 4.5em; } }
    @media (min-width: 750px) {
      /* line 14, ../sass/_modules/_header.scss */
      .header a {
        font-size: 6em; } }
    @media (min-width: 1100px) {
      /* line 14, ../sass/_modules/_header.scss */
      .header a {
        font-size: 3em;
        text-align: left; } }
    @media (min-width: 1350px) {
      /* line 14, ../sass/_modules/_header.scss */
      .header a {
        font-size: 3.7em; } }
  /* line 37, ../sass/_modules/_header.scss */
  .header span {
    color: #678F00; }

/* line 1, ../sass/_modules/_menu.scss */
.navigation {
  display: none; }
  @media (min-width: 750px) {
    /* line 1, ../sass/_modules/_menu.scss */
    .navigation {
      display: block !important; } }

/* line 7, ../sass/_modules/_menu.scss */
.navigation.open {
  display: block;
  clear: both; }
  @media (min-width: 750px) {
    /* line 7, ../sass/_modules/_menu.scss */
    .navigation.open {
      display: block !important; } }

/* line 17, ../sass/_modules/_menu.scss */
.menu-block-1 ul.menu {
  display: block;
  width: 100%; }
  @media (min-width: 750px) {
    /* line 17, ../sass/_modules/_menu.scss */
    .menu-block-1 ul.menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: inherit; } }
  /* line 27, ../sass/_modules/_menu.scss */
  .menu-block-1 ul.menu li {
    -webkit-box-flex-grow: 1;
    -moz-box-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    list-style-image: none;
    list-style-type: none; }
    /* line 32, ../sass/_modules/_menu.scss */
    .menu-block-1 ul.menu li a {
      color: #ffffff;
      display: block;
      margin-bottom: 2px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase; }
      @media (min-width: 750px) {
        /* line 32, ../sass/_modules/_menu.scss */
        .menu-block-1 ul.menu li a {
          font-size: 1.6em; } }
    /* line 46, ../sass/_modules/_menu.scss */
    .menu-block-1 ul.menu li a.home {
      background: #BFD01E; }
    /* line 49, ../sass/_modules/_menu.scss */
    .menu-block-1 ul.menu li a.phase2 {
      background: #98AE00; }
    /* line 52, ../sass/_modules/_menu.scss */
    .menu-block-1 ul.menu li a.phase4 {
      background: #678F00; }
    /* line 55, ../sass/_modules/_menu.scss */
    .menu-block-1 ul.menu li a.beyond {
      background: #9E599E; }
    /* line 58, ../sass/_modules/_menu.scss */
    .menu-block-1 ul.menu li a.submit {
      background: #663967; }

/* line 64, ../sass/_modules/_menu.scss */
.menu-expander {
  background: #663967;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    /* line 64, ../sass/_modules/_menu.scss */
    .menu-expander {
      padding: 20px; } }
  @media (min-width: 750px) {
    /* line 64, ../sass/_modules/_menu.scss */
    .menu-expander {
      display: none !important; } }

/* line 83, ../sass/_modules/_menu.scss */
.menu .leaf {
  list-style-image: none;
  list-style-type: none; }

/* line 1, ../sass/_modules/_navigation.scss */
h6 {
  font-size: 2em; }

/* line 1, ../sass/_modules/_node.scss */
.node__content {
  clear: both; }
  /* line 4, ../sass/_modules/_node.scss */
  .node__content h1 {
    font-size: 1.8em;
    margin: 10px 0; }
  /* line 9, ../sass/_modules/_node.scss */
  .node__content .field--name-field-recipe-image {
    margin-bottom: 10px; }
    /* line 12, ../sass/_modules/_node.scss */
    .node__content .field--name-field-recipe-image img {
      display: block;
      width: 100%; }
  /* line 19, ../sass/_modules/_node.scss */
  .node__content .field--name-field-ingredients .field__label {
    border-bottom: 1px solid #ccc;
    font-size: 1.3em;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  /* line 28, ../sass/_modules/_node.scss */
  .node__content .field--name-field-directions .field__label {
    border-bottom: 1px solid #ccc;
    font-size: 1.3em;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  /* line 36, ../sass/_modules/_node.scss */
  .node__content .field--name-field-servings {
    margin-bottom: 10px; }
    /* line 39, ../sass/_modules/_node.scss */
    .node__content .field--name-field-servings .field__label {
      font-size: 1.2em; }
    /* line 43, ../sass/_modules/_node.scss */
    .node__content .field--name-field-servings .field__items {
      font-size: 1.2em; }
  /* line 48, ../sass/_modules/_node.scss */
  .node__content .field--name-field-calories-per-serving {
    margin-bottom: 10px; }
    /* line 51, ../sass/_modules/_node.scss */
    .node__content .field--name-field-calories-per-serving .field__label {
      font-size: 1.2em; }
    /* line 55, ../sass/_modules/_node.scss */
    .node__content .field--name-field-calories-per-serving .field__items {
      font-size: 1.2em; }
  /* line 60, ../sass/_modules/_node.scss */
  .node__content .phase {
    font-size: 1.2em;
    margin-bottom: 10px; }

/* line 66, ../sass/_modules/_node.scss */
.field--name-body {
  padding: 20px; }

/* line 3, ../sass/_modules/_recipes.scss */
.page-nutrimost-phase2-recipes h1, .section-nutrimost-phase4-recipes h1, .section-nutrimost-beyond-recipes h1 {
  color: #663967;
  display: block;
  font-family: 'Roboto';
  font-size: 2.1em;
  font-weight: 100;
  margin-bottom: 2px;
  padding: 2px; }

/* line 16, ../sass/_modules/_recipes.scss */
.view-recipes .view-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }
  /* line 21, ../sass/_modules/_recipes.scss */
  .view-recipes .view-content .views-row {
    clear: both;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #BFD01E;
    padding-bottom: 30px; }
    @media (min-width: 450px) {
      /* line 21, ../sass/_modules/_recipes.scss */
      .view-recipes .view-content .views-row {
        width: 49%; } }
    @media (min-width: 550px) {
      /* line 21, ../sass/_modules/_recipes.scss */
      .view-recipes .view-content .views-row {
        width: 33%; } }
    @media (min-width: 1180px) {
      /* line 21, ../sass/_modules/_recipes.scss */
      .view-recipes .view-content .views-row {
        width: 24%; } }
    @media (min-width: 1300px) {
      /* line 21, ../sass/_modules/_recipes.scss */
      .view-recipes .view-content .views-row {
        width: 16.3%; } }
    /* line 47, ../sass/_modules/_recipes.scss */
    .view-recipes .view-content .views-row .views-field-title {
      padding: 10px 0 10px 0; }
      /* line 50, ../sass/_modules/_recipes.scss */
      .view-recipes .view-content .views-row .views-field-title a {
        font-size: 1.1em; }

/* line 58, ../sass/_modules/_recipes.scss */
.print-link {
  text-align: left;
  padding-bottom: 0; }

/* line 1, ../sass/_modules/_search.scss */
input#edit-search-block-form--2 {
  width: 64%;
  padding: 10px; }

/* line 6, ../sass/_modules/_search.scss */
input[type="submit"] {
  background: #9E599E;
  border: 2px solid #9E599E;
  color: #ffffff;
  float: right;
  padding: 10px;
  width: 35%; }

/* line 15, ../sass/_modules/_search.scss */
html.js .form-autocomplete {
  background-image: none;
  background-repeat: no-repeat; }

/* line 20, ../sass/_modules/_search.scss */
.ui-theme-basic-green.ui-autocomplete-input {
  background-image: none;
  background-repeat: no-repeat; }

/* line 25, ../sass/_modules/_search.scss */
.ui-theme-basic-green.ui-autocomplete-loading {
  background-image: none;
  background-repeat: no-repeat; }

/* line 1, ../sass/_modules/_submit.scss */
.webform-client-form {
  margin: 0 auto;
  width: 750px; }

/* line 7, ../sass/_modules/_submit.scss */
.form-managed-file input[type="submit"] {
  background: #9E599E;
  border: 2px solid #9E599E;
  color: #ffffff;
  float: none;
  padding: 10px;
  width: inherit; }

/* line 18, ../sass/_modules/_submit.scss */
.webform-component input {
  padding: 7px;
  border: 1px solid #9E599E; }
/* line 23, ../sass/_modules/_submit.scss */
.webform-component textarea {
  padding: 7px;
  border: 1px solid #9E599E; }

/* Static View-only Star Version */
/* line 2, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget-static .star {
  width: 50px;
  height: 50px;
  background: url(../images/heart.png) no-repeat 0 0px; }

/* line 8, ../sass/_modules/_vote.scss */
form.fivestar-widget div.description {
  margin: 20px;
  display: block;
  float: right; }

/* line 13, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget-static .star span.on {
  background: url(../images/heart.png) no-repeat 0 -120px; }

/* line 17, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget-static .star span.off {
  background: url(../images/heart.png) no-repeat 0 0; }

/* Javascript Star Version */
/* line 22, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget .cancel,
.fivestar-hearts div.fivestar-widget .star {
  width: 50px;
  height: 50px; }

/* line 27, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget .cancel,
.fivestar-hearts div.fivestar-widget .cancel a {
  background: none; }

/* line 32, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget .star,
.fivestar-hearts div.fivestar-widget .star a {
  background: url(../images/heart.png) no-repeat 0 0; }

/* line 37, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget div.on a {
  background-position: 0 -60px; }

/* line 40, ../sass/_modules/_vote.scss */
.fivestar-hearts div.fivestar-widget div.hover a,
.fivestar-hearts div.rating div a:hover {
  background-position: 0 -120px; }

/*# sourceMappingURL=recipes.styles.css.map */
