/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

input {
  max-width: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

em {
  font-style: italic; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img, media {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0; }

h1 {
  clear: both; }

h2 a {
  display: block;
  font-size: 1.5em;
  margin: 5px; }

h2, .views-field-title {
  text-transform: uppercase; }
  h2 a:link, h2 a:visited, h2 a:active, .views-field-title a:link, .views-field-title a:visited, .views-field-title a:active {
    color: #444; }
  h2 a:hover, .views-field-title a:hover {
    color: #9E599E; }

h2.block__title {
  clear: both;
  font-size: 3em;
  text-transform: uppercase; }

h2.big {
  display: none; }
  @media (min-width: 600px) {
    h2.big {
      display: block;
      font-size: 2.5em;
      font-weight: 100px;
      margin-bottom: 30px;
      color: #9E599E; } }

a {
  text-decoration: none;
  cursor: pointer; }

/* unvisited link */
a:link {
  color: #9E599E; }

/* visited link */
a:visited {
  color: #9E599E; }

/* mouse over link */
a:hover {
  color: #678F00; }

/* selected link */
a:active {
  color: #9E599E; }

a.open, a.close {
  font-size: 1.6em;
  display: block;
  padding: 10px;
  margin: 20px 0;
  color: #9E599E; }

p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: black; }

.pager {
  padding: 10px;
  margin: 40px 0px; }

.content, .side {
  padding: 0 2px; }

.a2a_kit {
  margin: 5px;
  display: block; }

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 20px !important; }
  ol li {
    padding: 10px; }

img, media {
  max-width: 100%; }

.user-login {
  clear: both; }

.header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.13253%;
  float: left;
  margin-right: 1.20482%; }
  @media (min-width: 750px) {
    .header {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 1100px) {
    .header {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 32.53012%;
      float: left;
      margin-right: 1.20482%; } }

@media (min-width: 750px) {
  .navigation {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }

@media (min-width: 1100px) {
  .navigation {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.26506%;
    float: right;
    margin-right: 0; } }

.menu-expander {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15.66265%;
  float: right;
  margin-right: 0; }

@media (min-width: 768px) {
  .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 74.6988%;
    float: left;
    margin-right: 1.20482%; }
  .side {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.09639%;
    float: right;
    margin-right: 0; } }

#edit-field-category-value-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%; }

#edit-field-food-type-value-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.39759%;
  float: right;
  margin-right: 0; }

@media (min-width: 630px) {
  .image {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: left;
    margin-right: 1.20482%; } }

@media (min-width: 630px) {
  .text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: right;
    margin-right: 0; } }

@media (min-width: 1300px) {
  #block-block-11 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: right;
    margin-right: 0; }
  #block-search-form {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: left;
    margin-right: 1.20482%; } }

@media (min-width: 1300px) and (min-width: 1300px) {
  .not-front.page-node #block-block-9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: right;
    margin-right: 0; }
  .not-front.page-node #block-block-12 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.39759%;
    float: left;
    margin-right: 1.20482%; } }

.view-ads a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .view-ads a:link {
    color: #9E599E; }
  .view-ads a:visited {
    color: #9E599E; }
  .view-ads a:hover {
    color: #98AE00; }
  .view-ads a div {
    padding: 10px; }
  .view-ads a img {
    padding: 5px; }

.amzn-item.amzn-shop-now-parent-icon {
  display: none !important; }

#block-block-11 {
  clear: both; }
  @media (min-width: 1300px) {
    #block-block-11 {
      clear: none; } }

.views-field-addtoany-link {
  clear: both; }

.view-blog .views-field-title {
  font-size: 1.3em; }
  @media (min-width: 630px) {
    .view-blog .views-field-title {
      float: left; } }

.view-blog .views-field-field-blog-image {
  text-align: center; }

.view-blog .views-field-body {
  clear: both;
  overflow: hidden;
  padding: 10px; }

#block-views-blog-block-1 {
  clear: both; }
  #block-views-blog-block-1 h1 {
    font-size: 1.3em;
    margin-bottom: 20px; }
    @media (min-width: 650px) {
      #block-views-blog-block-1 h1 {
        font-size: 3em; } }
    @media (min-width: 800px) {
      #block-views-blog-block-1 h1 {
        margin-top: 20px; } }

#block-block-1 {
  padding: 20px; }

label[for=edit-field-category-value] {
  background: #ffffff;
  border: 1px solid;
  color: #678F00;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase; }

label[for=edit-field-category-value]:hover {
  background: #678F00;
  color: #ffffff; }

label[for=edit-field-food-type-value] {
  background: #ffffff;
  border: 1px solid;
  color: #9E599E;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase; }

label[for=edit-field-food-type-value]:hover {
  background: #9E599E;
  color: #ffffff; }

.form-item-field-food-type-value {
  display: none; }

.form-item-field-category-value {
  display: none; }

.form-item-field-category-value.open {
  display: block; }
  .form-item-field-category-value.open label.option {
    cursor: pointer;
    display: block;
    float: right;
    font-weight: normal;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 25px; }
  .form-item-field-category-value.open .form-type-bef-checkbox {
    display: block;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #678F00; }
    .form-item-field-category-value.open .form-type-bef-checkbox:hover {
      color: #678F00;
      background: #ffffff; }

.form-item-field-food-type-value.open {
  display: block; }
  .form-item-field-food-type-value.open label.option {
    cursor: pointer;
    display: block;
    float: right;
    font-weight: normal;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 25px; }
  .form-item-field-food-type-value.open .form-type-bef-checkbox {
    display: block;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #9E599E; }
    .form-item-field-food-type-value.open .form-type-bef-checkbox:hover {
      color: #9E599E;
      background: #ffffff; }

.views-exposed-form {
  clear: both; }

.views-exposed-form .views-exposed-widget {
  padding: 0;
  /* LTR */ }

.views-widget {
  position: absolute;
  width: inherit; }
  @media (min-width: 768px) {
    .views-widget {
      width: 40%; } }

.view-filters input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: inherit;
  color: inherit;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: none;
  display: inline-block;
  position: relative;
  float: left;
  margin: 10px; }
  .view-filters input[type="checkbox"]:active, .view-filters input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: inherit; }
  .view-filters input[type="checkbox"]:checked {
    background-color: inherit;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: inherit; }
  .view-filters input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: inherit; }

.bef-checkboxes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
  background: #663967;
  border-bottom: 5px solid #444;
  border-top: 25px solid #fff; }

.header {
  color: #9E599E;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 0; }
  @media (min-width: 750px) {
    .header {
      text-align: center;
      position: relative; } }
  @media (min-width: 1100px) {
    .header {
      text-align: left;
      margin-bottom: 20px; } }
  .header a {
    font-size: 2.4em; }
    @media (min-width: 450px) {
      .header a {
        font-size: 3.2em; } }
    @media (min-width: 600px) {
      .header a {
        font-size: 3.8em; } }
    @media (min-width: 700px) {
      .header a {
        font-size: 4.5em; } }
    @media (min-width: 750px) {
      .header a {
        font-size: 6em; } }
    @media (min-width: 1100px) {
      .header a {
        font-size: 3em;
        text-align: left; } }
    @media (min-width: 1350px) {
      .header a {
        font-size: 3.7em; } }
  .header span {
    color: #678F00; }

.navigation {
  display: none; }
  @media (min-width: 750px) {
    .navigation {
      display: block !important; } }

.navigation.open {
  display: block;
  clear: both; }
  @media (min-width: 750px) {
    .navigation.open {
      display: block !important; } }

.menu-block-1 ul.menu {
  display: block;
  width: 100%; }
  @media (min-width: 750px) {
    .menu-block-1 ul.menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: inherit; } }
  .menu-block-1 ul.menu li {
    -webkit-box-flex-grow: 1;
    -moz-box-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    list-style-image: none;
    list-style-type: none; }
    .menu-block-1 ul.menu li a {
      color: #ffffff;
      display: block;
      margin-bottom: 2px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase; }
      @media (min-width: 750px) {
        .menu-block-1 ul.menu li a {
          font-size: 1.6em; } }
    .menu-block-1 ul.menu li a.home {
      background: #BFD01E; }
    .menu-block-1 ul.menu li a.phase2 {
      background: #98AE00; }
    .menu-block-1 ul.menu li a.phase4 {
      background: #678F00; }
    .menu-block-1 ul.menu li a.beyond {
      background: #9E599E; }
    .menu-block-1 ul.menu li a.submit {
      background: #663967; }

.menu-expander {
  background: #663967;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 700px) {
    .menu-expander {
      padding: 20px; } }
  @media (min-width: 750px) {
    .menu-expander {
      display: none !important; } }

.menu .leaf {
  list-style-image: none;
  list-style-type: none; }

h6 {
  font-size: 2em; }

.node__content {
  clear: both; }
  .node__content h1 {
    font-size: 1.8em;
    margin: 10px 0; }
  .node__content .field--name-field-recipe-image {
    margin-bottom: 10px; }
    .node__content .field--name-field-recipe-image img {
      display: block;
      width: 100%;
      border: 1px solid #e1e1e1;
      margin: 10px 0;
      padding: 5px;
      box-shadow: #EEE 1px 1px 1px 1px; }
  .node__content .field--name-field-ingredients .field__label {
    border-bottom: 1px solid #ccc;
    color: #9E599E;
    font-size: 1.8em;
    font-weight: 100;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  .node__content .field--name-field-ingredients .field-items {
    margin-bottom: 30px; }
  .node__content .field--name-field-ingredients p {
    line-height: 2; }
  .node__content .field--name-field-directions .field__label {
    border-bottom: 1px solid #ccc;
    color: #9E599E;
    font-size: 1.8em;
    font-weight: 100;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  .node__content .field--name-field-directions .field-items {
    margin-bottom: 30px; }
  .node__content .field--name-field-directions p {
    line-height: 2; }
  .node__content .field--name-field-servings {
    margin-bottom: 10px; }
    .node__content .field--name-field-servings .field__label {
      font-size: 1.2em; }
    .node__content .field--name-field-servings .field__items {
      font-size: 1.2em; }
  .node__content .field--name-field-calories-per-serving {
    margin-bottom: 10px; }
    .node__content .field--name-field-calories-per-serving .field__label {
      font-size: 1.2em; }
    .node__content .field--name-field-calories-per-serving .field__items {
      font-size: 1.2em; }
  .node__content .phase {
    font-size: 1.2em;
    margin-bottom: 10px; }

.field--name-body {
  padding: 20px; }

#block-views-recipes-block-1 {
  clear: both; }

.notice {
  border: 1px solid #9E599E;
  background: #f9f9f9;
  font-style: italic;
  font-weight: 100;
  padding: 13px;
  margin: 2px; }
  @media (min-width: 600px) {
    .notice {
      border: 5px solid #9E599E;
      margin: 10px 10px 40px 10px;
      padding: 18px 50px; } }

.page {
  border-top: 5px solid #663967;
  clear: both;
  padding: 20px; }

.page-nutrimost-phase2-recipes h1, .section-nutrimost-phase4-recipes h1, .section-nutrimost-beyond-recipes h1 {
  color: #663967;
  display: block;
  font-family: 'Roboto';
  font-size: 2.1em;
  font-weight: 100;
  margin-bottom: 2px;
  padding: 2px; }

.view-recipes .view-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }
  .view-recipes .view-content .views-row {
    clear: both;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #BFD01E;
    padding-bottom: 30px; }
    @media (min-width: 450px) {
      .view-recipes .view-content .views-row {
        width: 49%; } }
    @media (min-width: 550px) {
      .view-recipes .view-content .views-row {
        width: 33%; } }
    @media (min-width: 1180px) {
      .view-recipes .view-content .views-row {
        width: 24%; } }
    @media (min-width: 1300px) {
      .view-recipes .view-content .views-row {
        width: 16.3%; } }
    .view-recipes .view-content .views-row .views-field-title {
      padding: 10px 0 10px 0; }
      .view-recipes .view-content .views-row .views-field-title a {
        font-size: 1.1em; }

.print-link {
  text-align: left;
  padding-bottom: 0; }

.search-block-form {
  padding-bottom: 20px; }
  @media (min-width: 1300px) {
    .search-block-form {
      padding: 0; } }

input#edit-search-block-form--2 {
  width: 64%;
  padding: 10px; }

input[type="submit"] {
  background: #9E599E;
  border: 2px solid #9E599E;
  color: #ffffff;
  float: right;
  padding: 10px;
  width: 35%; }

html.js .form-autocomplete {
  background-image: none;
  background-repeat: no-repeat; }

.ui-theme-basic-green.ui-autocomplete-input {
  background-image: none;
  background-repeat: no-repeat; }

.ui-theme-basic-green.ui-autocomplete-loading {
  background-image: none;
  background-repeat: no-repeat; }

.side {
  text-align: center; }

.webform-client-form {
  margin: 0 auto;
  width: 750px; }

.form-managed-file input[type="submit"] {
  background: #9E599E;
  border: 2px solid #9E599E;
  color: #ffffff;
  float: none;
  padding: 10px;
  width: inherit; }

.webform-component input {
  padding: 7px;
  border: 1px solid #9E599E; }

.webform-component textarea {
  padding: 7px;
  border: 1px solid #9E599E; }

/* Static View-only Star Version */
.fivestar-hearts div.fivestar-widget-static .star {
  width: 50px;
  height: 50px;
  background: url(../images/heart.png) no-repeat 0 0px; }

form.fivestar-widget div.description {
  margin: 20px;
  display: block;
  float: right; }

.fivestar-hearts div.fivestar-widget-static .star span.on {
  background: url(../images/heart.png) no-repeat 0 -120px; }

.fivestar-hearts div.fivestar-widget-static .star span.off {
  background: url(../images/heart.png) no-repeat 0 0; }

/* Javascript Star Version */
.fivestar-hearts div.fivestar-widget .cancel,
.fivestar-hearts div.fivestar-widget .star {
  width: 50px;
  height: 50px; }

.fivestar-hearts div.fivestar-widget .cancel,
.fivestar-hearts div.fivestar-widget .cancel a {
  background: none; }

.fivestar-hearts div.fivestar-widget .star,
.fivestar-hearts div.fivestar-widget .star a {
  background: url(../images/heart.png) no-repeat 0 0; }

.fivestar-hearts div.fivestar-widget div.on a {
  background-position: 0 -60px; }

.fivestar-hearts div.fivestar-widget div.hover a,
.fivestar-hearts div.rating div a:hover {
  background-position: 0 -120px; }
