.view-ads {
  a {

    @include flexbox();


    &:link{
      color: $purple;
    }
    &:visited {
      color: $purple;
    }
    &:hover {
      color: $medgreen;
    }

    div {
      padding: 10px;
    }
    img {
      padding: 5px;
    }
  }
}

.amzn-item.amzn-shop-now-parent-icon {
  display: none !important;
}
#block-block-9 {
  clear: both;
}
#block-block-12 {
  clear: left;
}
#block-block-11 {
  clear:both;
  @include breakpoint($larger, true) {
    clear:none;
  }
}